<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ page.title }}</title>

<style>
body{
    margin:0;
    font-family: Arial;
    background:#fff;
    color:#111;
    line-height:1.7;
}

.container{
    max-width:900px;
    margin:auto;
    padding:40px;
}

h1,h2{
    color:#0f4c81;
    border-bottom:1px solid #eee;
    padding-bottom:5px;
}

a{ color:#0f4c81; }
</style>
</head>

<body>
<div class="container">
{{ content }}
</div>
</body>
</html>
